// Home Content

.home {
  .intro {
    .headerpic {
      max-width: 100%;
    }

    h2 {
      padding: 15px;
    }

    p {
      padding: 0 15px;
    }
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }

    .sky,
    .launch {
      @media @phone {
        display: none;
      }
    }

    .blast {
      @media @phone {
        width: 100%;
      }
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;

      @media @phone {
        padding-bottom: 25px;
      }
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    @media @phone {
      .flexco();
      width: 100%;
      flex-direction: column-reverse;
      margin-top: 0;
      padding: 15px;
    }
    .walk-text {
      width: 50%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }
      @media @phone {
        width: 100%;
      }
      .btn {
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;

      @media @phone {
        margin-left: 0px;
        width: 100%;
        padding-bottom: 20px;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
} // home

.btn {
  font-size: 1.875rem;
  border-radius: 5px;
  background: @btn-bg-color;
  color: @porcelain;
  width: 100px;
  padding: 10px;
  .center-text(center, center);

  &:hover {
    background-color: lighten(@btncolor, 20%);
  }
  @media @phone {
    width: 100%;
    padding: 2rem 0;
  }
}


////// SIGNIN PAGE


.walker-img {
margin-top: 10%;
margin-left: 5%;
  width:283px;
  height: 580px;
  background: linear-gradient(red,yellow,gray);
}


.sign-in {

  padding-top: 2%;
padding-left: 2%;
font-size: 2.5rem;

}



// * {
//   box-sizing: border-box;
// }

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background: @btn-bg-color;
  color: @porcelain;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

  &:hover {
    background-color: lighten(@btncolor, 20%);
  }
}


.register {

  font-size: 3rem;
  padding-bottom: 4%;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}