// Navigation code here


.navholder{ 
       
    max-width:100%;
    .flexco();
   align-content: center;
   background-color: @nav-bg ;


   .topnav{
       
        padding-top: 17px;
        .flexco();
        align-items: center;
        margin: 0 auto;
        width:800px;
        padding-bottom: 10px;
   
    

   .clicknav{
       padding-top: 20px;
       font-size: 1.6rem;
       .flexro();
       justify-content: space-around;
       width:410px;
   }
        .sitename{
            font-size: 3.8rem;

   }
  }
}